@import url('https://fonts.googleapis.com/css2?family=Jersey+20&family=Roboto+Slab:wght@100..900&display=swap');

* {
  box-sizing: border-box;
}

body {
	background-color: #e1eedd;
	margin:0;
    padding:0;
}

input {
	width: 250px;
	padding: 12px 20px;
	margin: 8px 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

label {
	font-size: 20px;
}

.header {
	padding:50px;
	text-align: center;
	background: #fefbe9;
	color: #f0a04b;
	font-size: 50px;
	width: 100%;
	margin: auto;
	font-family: "Jersey 20", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.header a:link, a:visited {
	text-decoration: none;
	color: #f0a04b;
}

.subheader {
	padding: 60px;
	text-align: center;
	margin:auto;
	color: #183a1d;
	font-size: 30px;
	text-decoration: underline;
	text-decoration-color: #f0a04b;
	font-family: "Roboto Slab", serif;
	font-weight: 500;
	font-style: normal;
}

.game-buttons {
	margin: auto;
	width: 95%;
	padding: 75px;
	display: flex;
    justify-content: space-between;
	flex-wrap: wrap;
}

.game-buttons a:visited {
	text-decoration: none;
	color: #183a1d;
}

.game-buttons button {
	height: 500px;
	width: 500px;
	background-color: #fefbe9;
	color: #183a1d;
	border: none;
	border-bottom: 5px solid #f0a04b;
	padding: 50px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	font-size: 30px;
	transition: 0.2s;
	flex-wrap: wrap;
	margin-bottom: 20px;
	font-family: "Roboto Slab", serif;
	font-weight: 500;
	font-style: normal;
}

.game-buttons button:hover {
	transform: scale(1.2);
}

.challenge-title {
	text-align: center;
	margin: auto;
	width: 95%;
	padding: 50px;
	font-family: "Roboto Slab", serif;
	font-weight: 500;
	font-style: normal;
	color: #183a1d;
}

.challenge-title h1 {
	text-decoration: underline;
	text-decoration-color: #f0a04b;
}

.challenge-title h2 {
	color: #f0a04b;
}

.high-score {
	padding: 80px;
	text-align: center;
	margin:auto;
	color: #183a1d;
	font-size: 24px;
	text-decoration: underline;
	text-decoration-color: #f0a04b;
	font-family: "Roboto Slab", serif;
	font-weight: 500;
	font-style: normal;
}

.game-container {
	text-align: center;
	margin: auto;
	width: 95%;
	padding: 20px;
	font-family: "Roboto Slab", serif;
	font-weight: 500;
	font-style: normal;
	color: #183a1d;
}

.game-container button {
	height: 100px;
	width: 250px;
	background-color: #fefbe9;
	color: #183a1d;
	border: none;
	border-bottom: 5px solid #f0a04b;
	margin: 10px;
	margin-top: 30px;
	padding: 10px;
	transition: 0.1s;
	font-size: 30px;
	font-family: "Roboto Slab", serif;
	font-weight: 500;
	font-style: normal;
}

.game-container button:hover {
	transform: scale(1.05);
}

.clock {
	width: 250px;
	padding: 10px;
	font-size: 40px;
	margin:auto;
	border: 5px solid #183a1d;
	background-color: #fefbe9;
	
}

.clock-text {
	width: 20%;
	font-size: 24px;
	padding: 10px;
	margin:auto;
	margin-top: 30px;
}

.card-text {
	width: 10%;
	padding: 10px;
	font-size: 80px;
	margin:auto;
}

.game-container canvas {
	height: 200px;
	width: 200px;
	margin-bottom: 10px;
	border: 5px solid #183a1d;
}

.numbers {
	font-size: 24px;
	margin-bottom: 30px;
}

.instruction-text {
	font-size: 20px;
}